<%- include('header') -%>
<div class="contents">
  <% movies.forEach(function (movie) { %>
  <div class="movie">
    <img
      width="240px"
      height="320px"
      src="<%= movie.poster %>"
      onclick="location.href='movie/<%= movie.id %>'"
      style="cursor: pointer"
    />
    <h5><%= movie.title %></h5>
    <span><%= movie.year %></span>
  </div>
  <% }); %>
</div>
<%- include('footer') -%>
